data/
## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

build/
out/
*.gch
projects/*
!projects/dev/empty/*
!projects/dev/cmake-template/*
.DS_Store
lib/glfw/*
opt/iPlug2
examples/build/*
examples/bin/*
.idea
lib/mzgl/App.h.pch
