///////////////////////////////////////////////////////
//                                                   //
//    $$\      $$\ $$$$$$$$\  $$$$$$\  $$\           //
//    $$$\    $$$ |\____$$  |$$  __$$\ $$ |          //
//    $$$$\  $$$$ |    $$  / $$ /  \__|$$ |          //
//    $$\$$\$$ $$ |   $$  /  $$ |$$$$\ $$ |          //
//    $$ \$$$  $$ |  $$  /   $$ |\_$$ |$$ |          //
//    $$ |\$  /$$ | $$  /    $$ |  $$ |$$ |          //
//    $$ | \_/ $$ |$$$$$$$$\ \$$$$$$  |$$$$$$$$\     //
//    \__|     \__|\________| \______/ \________|    //
//                                                   //
///////////////////////////////////////////////////////


HEADER_SEARCH_PATHS = 						\
			$(inherited)					\
			../lib 							\
			../lib/glm						\
			../lib/misc						\
			../opt/blahdio/ext/drlibs		\
			../lib/ZipFile/lib				\
			../lib/ghc-filesystem/include   \
			../lib/farbot/include			\
			../lib/ZipFile/lib/zipper
OTHER_CFLAGS = -DSOKOL_METAL
OTHER_CFLAGS[sdk=macosx*] = -D__MACOSX_CORE__ -DSOKOL_METAL

PA_FLAGS = PA_LITTLE_ENDIAN STDC_HEADERS=1 HAVE_SYS_TYPES_H=1 HAVE_SYS_STAT_H=1 HAVE_STDLIB_H=1 HAVE_STRING_H=1 HAVE_MEMORY_H=1 HAVE_STRINGS_H=1 HAVE_INTTYPES_H=1 HAVE_STDINT_H=1 HAVE_UNISTD_H=1 HAVE_DLFCN_H=1 SIZEOF_SHORT=2 SIZEOF_INT=4 SIZEOF_LONG=8 HAVE_CLOCK_GETTIME=1 HAVE_NANOSLEEP=1 PA_USE_COREAUDIO=1




//USE_METALANGLE
//   MZGL_LIBROOT="\"${MZGLROOT}/lib\"" SRC_ROOT="\"${PROJECT_DIR}/src\""
PREPROCESSOR_DEFS = __MACOSX_CORE__ $(PA_FLAGS) $(GL_VERSION) GL_SILENCE_DEPRECATION GLES_SILENCE_DEPRECATION
//MZGL_SOKOL_METAL
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = $(PREPROCESSOR_DEFS)

GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = $(PREPROCESSOR_DEFS) DEBUG=1 


DEAD_CODE_STRIPPING[config=Debug][sdk=macosx*] = No
DEAD_CODE_STRIPPING[config=Release][sdk=macosx*] = Yes
