///////////////////////////////////////////////////////
//                                                   //
//    $$\      $$\ $$$$$$$$\  $$$$$$\  $$\           //
//    $$$\    $$$ |\____$$  |$$  __$$\ $$ |          //
//    $$$$\  $$$$ |    $$  / $$ /  \__|$$ |          //
//    $$\$$\$$ $$ |   $$  /  $$ |$$$$\ $$ |          //
//    $$ \$$$  $$ |  $$  /   $$ |\_$$ |$$ |          //
//    $$ |\$  /$$ | $$  /    $$ |  $$ |$$ |          //
//    $$ | \_/ $$ |$$$$$$$$\ \$$$$$$  |$$$$$$$$\     //
//    \__|     \__|\________| \______/ \________|    //
//                                                   //
///////////////////////////////////////////////////////


//OTHER_CFLAGS[sdk=macosx*] = -D__MACOSX_CORE__
// this MUST match the setting in mzgl.xcproj
GL_VERSION[sdk=macosx*] = MZGL_GL2
//USE_METALANGLE
GCC_PREPROCESSOR_DEFINITIONS[config=Debug]=$(GL_VERSION) DEBUG=1
//AUTO_TEST
//USE_METALANGLE
GCC_PREPROCESSOR_DEFINITIONS[config=Release]=$(GL_VERSION)
//AUTO_TEST

// HEADERS
HEADERS_COMMON = 									\
		$(MZGLROOT)/lib/mzgl/**						\
		$(MZGLROOT)/lib								\
		$(MZGLROOT)/lib/ZipFile						\
		$(MZGLROOT)/lib/ghc-filesystem/include		\
		$(MZGLROOT)/lib/AudioShare					\
		$(MZGLROOT)/lib/ZipFile/lib					\
		$(MZGLROOT)/lib/misc						\
		$(MZGLROOT)/lib/pu_gixml/src				\
		$(MZGLROOT)/lib/rtmidi						\
		$(MZGLROOT)/lib/glm							\
		$(MZGLROOT)/lib/nanovg						\
		$(MZGLROOT)/lib/yoga						\
		$(MZGLROOT)/lib/farbot/include				\
		$(MZGLROOT)/lib/PGMidi						\
		$(MZGLROOT)/lib/Polyline2D/include			\
		lib/opt/gzip-hpp/include					\
		$(PROJECT_HEADERS)							\
		lib/opt/blahdio/blahdio/include				\
		lib/opt/blahdio/blahdio/ext/drlibs			\
		lib/opt/libflac/include						\
		lib/LibTorch-Lite/install/include

HEADER_SEARCH_PATHS = $(inherited) $(HEADERS_COMMON)


// LINKER
//-framework MetalANGLE
FRAMEWORKS_COMMON =  -framework WebKit -framework StoreKit -framework CoreMIDI -framework CoreMedia -framework Accelerate -framework AVFoundation -framework AudioToolbox -framework ImageIO -framework CoreGraphics
FRAMEWORKS_MAC = -framework CoreAudio -framework CoreVideo -framework Cocoa -framework OpenGL
FRAMEWORKS_IOS = -framework SystemConfiguration -framework UIKit -framework QuartzCore -framework Security -framework MobileCoreServices -framework NetworkExtension -framework GLKit -framework OpenGLES -framework CoreAudioKit

FRAMEWORK_SEARCH_PATHS = $(MZGLROOT)/lib/MetalANGLE/

OTHER_LDFLAGS[sdk=macosx*][config=Debug] = -all_load $(FRAMEWORKS_COMMON) $(FRAMEWORKS_MAC)
OTHER_LDFLAGS[sdk=macosx*][config=Release] = $(FRAMEWORKS_COMMON) $(FRAMEWORKS_MAC)

OTHER_LDFLAGS[sdk=iphoneos*] = $(FRAMEWORKS_COMMON) $(FRAMEWORKS_IOS)

CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_UNROLL_LOOPS[config=Release] = Yes


//DEAD_CODE_STRIPPING[config=Debug][sdk=macosx*] = No


// in debug only build active arch
//ONLY_ACTIVE_ARCH[config=Debug][sdk=*][arch=*] = YES
