GL_VERSION[sdk=macosx*] = MZGL_GL2
GCC_PREPROCESSOR_DEFINITIONS[config=Debug]=$(GL_VERSION) DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS[config=Release]=$(GL_VERSION)

//HEADER_SEARCH_PATHS = $(HEADERS_COMMON)

FRAMEWORKS_COMMON =  -framework WebKit -framework StoreKit -framework CoreMIDI -framework CoreMedia -framework Accelerate -framework AVFoundation -framework AudioToolbox -framework ImageIO -framework CoreGraphics
FRAMEWORKS_MAC = -framework CoreAudio -framework CoreVideo -framework Cocoa -framework OpenGL
FRAMEWORKS_IOS = -framework SystemConfiguration -framework UIKit -framework QuartzCore -framework Security -framework MobileCoreServices -framework NetworkExtension -framework GLKit -framework OpenGLES -framework CoreAudioKit

// FRAMEWORK_SEARCH_PATHS = $(MZGLROOT)/lib/MetalANGLE/

OTHER_LDFLAGS[sdk=macosx*][config=Debug] = -all_load $(FRAMEWORKS_COMMON) $(FRAMEWORKS_MAC)
OTHER_LDFLAGS[sdk=macosx*][config=Release] = $(FRAMEWORKS_COMMON) $(FRAMEWORKS_MAC)

OTHER_LDFLAGS[sdk=iphoneos*] = $(FRAMEWORKS_COMMON) $(FRAMEWORKS_IOS)

CLANG_CXX_LANGUAGE_STANDARD = c++17
CLANG_CXX_LIBRARY = libc++
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_UNROLL_LOOPS[config=Release] = Yes